<p>This is the partial for view 1. YG YG2 YG3</p>
<div  ng-controller="View1Ctrl as invoice">
    <b>Invoice:</b>
    <div>
        Quantity: <input type="number" min="0" ng-model="invoice.qty" required >
    </div>
    <div>
        Costs: <input type="number" min="0" ng-model="invoice.cost" required >
        <select ng-model="invoice.inCurr">
            <option ng-repeat="c in invoice.currencies">{{c}}</option>
        </select>
    </div>
    <div>
        <b>Total:</b>
    <span ng-repeat="c in invoice.currencies">
      {{invoice.total(c) | currency:c}}
    </span>
        <button class="btn" ng-click="invoice.pay()">Pay</button>
    </div>


    <div id="simple" ng-controller="MyController">
        <p>Let's try this simple notify service, injected into the controller...</p>
        <input ng-init="message='test'" ng-model="message" >
        <button ng-click="callNotify(message);">NOTIFY</button>
        <p>(you have to click 3 times to see an alert)</p>
    </div>


</div>
